<div class="container">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#">Mongo Scraper</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
              </li>
              <li class="nav-item">
                <a class="btn-fetch btn" href="" role="button">Scrape New Articles</a>
              </li>
              <li class="nav-item">
                <a class="btn-delete btn" href="#" role="button">Clear Articles</a>
              </li>
            </ul>
        
          </div>
        </nav>

        <div class="jumbotron text-center">
          <h1>MongoDB Scraper</h1>
          <p>Article Scraper</p>
        </div>


        <div class="container" id="articles"></div>
    </div>

  